<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/forms.css') }}">
        <link href="{{ url_for('static', filename='style/background.css') }}" rel="stylesheet">
</head>
<body>
    <img src="{{ url_for('static', filename='4.png') }}" id="background">
<div>
    <form method="post" id="login_form">
        {% if message %}
            <p>
                {{ message }}
            </p>
        {% endif %}
        <div class="imgcontainer">
            <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" class="avatar">
        </div>
        <label for="username">USERNAME:</label>
            <input id="username" name="username" type="email" placeholder="Username..."><br>
        <label for="password">PASSWORD:</label>
            <input id="password" name="password" type="password" placeholder="Password..."><br>
        <button type="submit">Sign In</button>
        <div>
            <p>New here? <a href="{{ url_for('register_form') }}">Register</a></p>
        </div>
    </form>
</div>
</body>
</html>